<form>
    <h3>Contact us</h3>
    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput type="text" name="Name" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Your email address</mat-label>
        <input matInput type="email" name="Email" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Your message</mat-label>
        <textarea matInput name="Message" rows="6" maxlength="3000" required></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Send Message</button>
</form>