<a *ngIf="!service.isUserLoggedIn" routerLink="login" class="mat-button-link">
    <button mat-raised-button color="accent" class="custom-button">Login</button>
</a>&nbsp;
<a *ngIf="service.isUserLoggedIn" routerLink="students" class="mat-button-link">
    <button mat-raised-button color="primary" class="custom-button">Students</button>
</a>&nbsp;
<a routerLink="about-us" class="mat-button-link">
    <button mat-raised-button color="accent" class="custom-button">About Us</button>
</a>&nbsp;
<a routerLink="contact-us" class="mat-button-link">
    <button mat-raised-button color="primary" class="custom-button">Contact Us</button>
</a>&nbsp;
<a *ngIf="service.isUserLoggedIn" routerLink="add-student" class="mat-button-link">
    <button mat-raised-button color="primary" class="custom-button">Add Student</button>
</a>&nbsp;
<a *ngIf="!service.isUserLoggedIn" routerLink="register" class="mat-button-link">
    <button mat-raised-button color="primary" class="custom-button">Register</button>
</a>&nbsp;
<a *ngIf="service.isUserLoggedIn" routerLink="profile-update" class="mat-button-link">
    <button mat-raised-button color="primary" class="custom-button">Edit My Profile</button>
</a>&nbsp;
<a *ngIf="service.isUserLoggedIn" routerLink="logout" class="mat-button-link">
    <button mat-raised-button color="primary" class="custom-button">Logout</button>
</a>&nbsp;