<mat-dialog-content>
    <form (ngSubmit)="performUpdate()">
        <h2>Update Form</h2>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="data.rollno" name="rollno" readonly>
            <mat-label>RollNo</mat-label>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="data.name" name="name" readonly>
            <mat-label>Name</mat-label>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="data.numberOfAttempts" name="numberOfAttempts">
            <mat-label>Attempts</mat-label>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="data.percentage" name="percentage">
            <mat-label>Percentage</mat-label>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="data.subjectsLearning" name="subjectsLearning">
            <mat-label>Subjects</mat-label>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Update</button>
    </form>
</mat-dialog-content>